{% extends "base.html" %}
{% block pageHeader %}
<i class="fa fa-cogs fa-fw"></i> SETTINGS
{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-6">
<div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapse">
            <i class="fa fa-hand-paper-o fa-fw"></i> Stop Words</a>
        </div>
        <div id="collapse" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form" method="post" action="{{ url_for('settings') }}" role="search">
                    {{ stopForm.hidden_tag() }}
            <div class="input-group">
                {{stopForm.stopWord(class="form-control",id="stopWordInput",placeholder="Filter stop words...", onkeyup="filterTable()")}}

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus fa-fw"></i>Add</button>
                </span>
            </div>
        </form>
<br>
                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="collapse" data-target="#demo">Batch upload</button>
  <br>
   <div id="demo" class="collapse in">
       <br>
 <form method=post action="{{ url_for('uploadStopWords')}}" enctype=multipart/form-data>
     <div class="input-group">
          <span class="input-group-btn">
      <input type=file name=file>

          <button class="btn btn-default btn-xs"type="submit">Upload!</i></button>
          </span>
     </div>
    </form>
   </div>
<br>
                <table id="stopWordTable" class="table table-bordered">
                        <tr>
                            <th>Word</th>
                            <th>Action</th>
                        </tr>
                    {% for w in stopWords %}
                    <tr>
                        <td>{{w.stop_word}}</td>
                        <td><a href="{{ url_for('removestopword', id=w.row_id) }}"><i class="fa fa-trash fa-fw"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
</div>
<script>$('.collapse').collapse()</script>

<script>
function filterTable() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("stopWordInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("stopWordTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock %}

