{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block pageHeader %}
{% if templateType == "Search" %}
<i class="fa fa-search fa-fw"></i> API-SEARCHES{% else %}<i class="fa fa-user fa-fw"></i>USER TIMELINES
{% endif %}
<!-- Modal -->
<h5><div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil" aria-hidden="true"></i> ADD TWITTER USER</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form action="" method="post" name="auth_name">
                    {{ form.hidden_tag() }}
                        <label for="title"data-toggle="popover" title="Title" data-placement="left" data-content="TBD">{% if templateType == "Search" %} Title{% else %}Username{% endif %}</label>
                        {{form.title(class="form-control",id="title")}}
                </div>
                {% if templateType == "Search" %}
                <div class="form-group">
                    <label for="searchString" data-toggle="popover" title="searchString" data-placement="left" data-content="TBD">Search String</label>
                    {{form.searchString(class="form-control", id="searchString")}}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="tagcreator" data-toggle="popover" title="Creator" data-placement="left" data-content="TBD">Creator</label>
                    {{form.creator(class="form-control", id="tagcreator")}}
                </div>
                <div class="form-group">
                    <label for="description" data-toggle="popover" title="Description" data-placement="left" data-content="TBD">Description</label>
                    {{form.description(class="form-control", id="description")}}
                </div>
                <div class="form-group">
                    <label for="subject" data-toggle="popover" title="Subject" data-placement="left" data-content="TBD">Keywords</label>
                    {{form.subject(class="form-control", id="contributor")}}
                </div>
                <div class="form-group">
                    <label for="status" data-toggle="popover" title="tagettype" data-placement="left" data-content="TBD">Status</label>
                    {{form.status(class="form-control", id="status")}}
                </div>
                <div class="form-group pull-left">
                    <label for="index" data-toggle="popover" title="tagettype" data-placement="left" data-content="TBD">Index</label>
                    {{form.index(class="form-control", id="index")}}
                </div>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input class="btn btn-default" type="submit" value="Save">
            </div>
        </div>
        </form>
    </div>
</div></h5>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> <span class="panel-title pull-left"><i class="fa fa-crosshairs fa-fw"></i> TARGETS</span></h4>
                <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal">Add</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
<div class="form-group pull-right">
    <label>Filter</label>
 <input type="text" id="targetInput" onkeyup="filterTable()" >
</div>




                    <table class="table table-striped table-bordered table-hover" id="targetTable">


                            <thead>
                            <tr>
                            {% if templateType == "Search" %} <th>Title <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>{% else %}<th>Username <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>{% endif %}
                                <th>Archived tweets <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>
                                <th>Last archived <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>
                                <th>Added <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>
                                <th>Keywords <i class="fa fa-sort pull-right" aria-hidden="true"></i></th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                        <tbody>

                        {% for TARGET in TWITTER.items %}
                        <tr>
                            <td><a href="{{ url_for('twittertargetDetail', id=TARGET.row_id) }}">{{ TARGET.title}}</td>
                            <td>{{ TARGET.totalTweets}}</td>
                            {% if TARGET.lastCrawl == None %}<td>-</td>{% else %}<td>{{ TARGET.lastCrawl.strftime('%Y-%m-%d')}}</td>{% endif %}
                            <td>{{ TARGET.added.strftime('%Y-%m-%d')}}</td>
                            <td>{{ TARGET.subject}}</td>
                            {% if TARGET.status == '1' %}<td><form method="post" onclick="return confirm('Are you sure you want to start archiving ?');"action="{{ url_for('startTwitterCrawl', id=TARGET.row_id) }}"><button class="btn btn-success btn-xs pull-left"type="submit">Archive now!</i></button></form></td>{% endif %}

                           {% if TARGET.status == '0' %} <td><form method="post" onclick="return confirm('Are you sure you want to reactivate this target ?');"action="{{ url_for('reactivateTwitterTarget', id=TARGET.row_id) }}"><button class="btn btn-warning btn-xs pull-left"type="submit">Reactivate!</i></button></form></td>{% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                                            <ul class = "pagination">
{% if TWITTER.has_prev %}<li><a href="{{ url_for('twittertargets', page=TWITTER.prev_num) }}">&laquo;</a></li>{% else %}{% endif %}
{% for page in TWITTER.iter_pages() %}{% if page == None %} {% else %}  <li><a href="{{ url_for('twittertargets', page=page) }}">{{page}}</a></li>{% endif %}{% endfor %}
{% if TWITTER.has_next %}<li><a href="{{ url_for('twittertargets', page=TWITTER.next_num) }}">&raquo;</a></li>{% else %}{% endif %}
</ul>

            </div>
        </div>
    </div>
</div>

<script>
function filterTable() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("targetInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("targetTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
$(document).ready(function()
    {
        $("#targetTable").tablesorter();
    }
);

</script>



{% endblock %}